*{
	margin: 0px;
	font-family: Trebuchet MS;
}

#header{
	height: 10vh;
	width: 100%;
	position: absolute;
	top: 0px;
}

/* Alte Farbe: rgba(75, 95, 86, 0.8) */

#ubers{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(252,173,24);	

	background-color: rgba(0, 91, 35, 0.6);
	width: 45%;
	height: 100%;
	float: left;
}

#logo{
	background-color: rgba(0, 91, 35, 0.6);
	width: 10%;
	float: left;
	height: auto;
}

#logopng{
	display:block;
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}


#hlinks{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(252,173,24);	

	background-color: rgba(0, 91, 35, 0.6);
	width: 45%;
	height: 100%;
	float: left;
}

h1{
	color: white;
	font-size: 28pt;
	font-weight: bold;
	position: relative;
	left: 10%;
	top: 25%;
}

.hlink{
	color: white;
	font-size: 19pt;
	text-decoration: none;
	
	position: relative;
	top: 30%;
	left: 20%;
	margin-right: 25px;
}

.hlink:hover {
	color: rgb(252,173,24);
}

.underheader{
	width: 100%;
	height: 35vh;
	overflow:hidden;	
	
	border-bottom-style: solid;
	border-bottom-color: rgb(252,173,24);
	border-bottom-width: 2px;
}

#content{
	width: 100%;
	padding-top: 30px;
}

h2{
	color: black;
	font-size: 36pt;
	font-weight: bold;	
	text-align: center;
}
#homebild{
	width:50%;
	border-radius: 20px;
	float:left;
	margin-left: 3%;
	margin-right:3%;
	margin-bottom:3%;
}
.homepics{
	width:25%;
	float:left;
	margin-left: 3%;
	margin-top: 3%;
	border-radius:20px;
}
#NewsHeader{
	font-size: 28pt;
	font-weight: bold;
	text-align: center;
}

#Newslinks{
	margin:25px;
}

#Newslinks:after {
	content: '';
	visibility: hidden;
	display: block;
	clear: both;
}

.News1{
	float:left;
	margin-bottom:2%;
	height: auto;
	width: 32%;
	border-radius: 25px;
	
}

.hoverText{
	color: white;
	text-decoration: none;
	font-size: 26pt;
	
	position: absolute;
	bottom: 80px;
	left: 80px;
	border-radius: 20px;
}

.News2{
	float:left;
	margin-left: 2%;
	margin-bottom:2%;
	height: auto;
	width: 32%;
	border-radius: 20px;
}
#UeberschriftNews{
	font-size: 28pt;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
}
#contentNews1{
	position: relative;
	left: 25%;
	padding:25px;
	width:50%;
	text-align:justify;;
}
.News11{
	width: 45%;
	border-radius:20px;
	margin-left:3%
}
.bildverein{
	float:left;
	width: 44%;
	margin: 3%;
	border-radius:20px;
}
#vereinpics:after {
	content: '';
	visibility: hidden;
	display: block;
	clear: both;
}

.vereinsbilder{
	border-radius:20px;
	margin-left:3%
}
.zeltenbilder{
	border-radius:20px;
}

footer{
	clear: both;
	height:5%;
	width:100%;
	text-align:center;
	padding-top:10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: rgb(252,173,24);
	font-size: 12pt;
	margin-bottom: 20px;
}

.footerLink{
	padding-left:10px;
	padding-right:10px;
	color: black;
	text-decoration: none;

	}
h4{
	border-bottom: 2px;
	border-bottom-color: rgb(252,173,24);
	border-bottom-style: solid;
	font-variant: small-caps;
}

.bildlinks{
	float: left;
	margin-right: 30px;
}

.bildrechts{
	float: right;
	margin-left: 30px;
}

article img{
	height: 300px;
	width: 500px;
	border-radius: 20px;
	margin-bottom: 10px;
}

article{
	margin-top: 20px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 80px;
}

.artikel{
	margin-top: 10px;
	margin-bottom: 10px;
}

.weiterlesen{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.weiterlesen:hover{
	color:rgb(252,173,24);
}


#termTab{
	padding-top: 20px;
	font-size: 16pt;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
	
	padding-bottom: 30px;
}
th{
	padding-bottom: 10px;
}
#bildGeschichte{
	margin-top: 35px;
	margin-right: 30px;
	float: left;
	height: 300px;
	width: auto;
	border-radius: 20px;
}

#bildGeschichte2{
	margin-top: 35px;
	margin-left: 30px;
	float: right;
	height: 300px;
	width: auto;
	border-radius: 20px;
}

.dorfplatzBilderRechts{
	margin-top: 35px;
	margin-left: 30px;
	float: right;
	width: 400px;
	height: auto;
	border-radius: 20px;
}

.dorfplatzBilderLinks{
	margin-top: 35px;
	margin-right: 30px;
	float: left;
	width: 400px;
	height: auto;
	border-radius: 20px;
}

#content2{
	margin-top: 20px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 80px;
}

.details{
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Impressum{
	line-height: 1.5;
	width: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}